{% extends 'admin.html.twig' %}

{% block title %}{{ parent() }} - Dashboard{% endblock %}

{% block page_heading %}Dashboard{% endblock page_heading %}

{% block body %}
    <h1>Welcome to Wat CMF</h1>


{% endblock %}
